form{
    background-color: #CCBDF4;
    padding: 30px 60px;
    border-radius: 20px;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #2D2E4E;
}

.enroll-form h2{
    margin-bottom: 20px;
}

.enroll-form {
    padding: 1% 0;
}

.enroll-form h2 {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .enroll-form .form-label {
        font-size: 1rem;
    }
    form{
        margin-left: 20px;
        margin-right: 20px;
    }
    .enroll-form h2{
        margin-left: 20px;
    }
}


